/* _brand-colours.scss */

/* Get the colour names from http://chir.ag/projects/name-that-color/ */

$white: #ffffff;
$black: #000000;
$dark-gray: #333333;
$mercury: #e1e1e1;
$mercury-1: #e7e7e7;
$gallery: #efefef;
$wild-sand: #fafafa;
$nobel: #b7b7b7;
$silver-sand: #c2c5c8;
$alto: #dedede;
$alto-1: #d1d1d1;
$oslo-gray: #7c888f;
$shuttle-gray: #576771;
$athens-gray: #efeff0;
$athens-gray-1: #f9f9fa;
$porcelain: #eff1f2;
$silver: #cccccc;