@import './colors';

/* Brand */
$color-primary: $dark-gray;
$color-secondary: $white;
$color-tertiary-positive: $silver;
$color-tertiary-negative: $white;

$text-color-primary: $black;
$text-color-secondary: $dark-gray;
$text-color-body: $dark-gray;

$border-color: $alto;

$link-color-primary: $text-color-primary;
$link-color-primary-hover: $text-color-secondary;

$checkout-background-color: $wild-sand;